<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"

    %title
      = data.page.title || "Spacedocs"

    = stylesheet_link_tag "docs"
    = javascript_include_tag "all"

  %body
    = yield