<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

    %title= class_name

    %link(href="/assets/spacedocs/docs.css" media="screen, projection" rel="stylesheet" type="text/css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
  %body
    %pre
    %nav
      -class_names.each do |doc_class|
        - name = doc_class.gsub('#', '')

        -if doc_class == class_name
          %a.active(href="#{name}.html")= name
        -else
          %a(href="#{name}.html")= name
    - if method_list.length > 0
      %section.method_list
        %h3= "#{class_name} Methods"
        .methods
          -method_list.sort.each do |method_name|
            %a(href="#{class_name}.html##{method_name}")= method_name
    .documentation
      -if methods.first
        -methods.each_pair do |method_name, method_data|
          %a(name="#{method_name}")
          / TODO make sure method_data isn't nil
          - if method_data && method_data.first
            %h1= "#{class_name}#{method_name}(#{method_data['parameters'].keys.join ', '})"
            .description
              %section.summary= method_data['summary']

              %section.usage
                %h3 Usage
                = method_data['code_sample']

              - if method_data['parameters'].keys.length > 0
                %section.parameters
                  %h3 Parameters
                  %ul
                    - method_data['parameters'].each_pair do |param_name, param_data|
                      %li
                        %span.param_name= param_name
                        = " - "
                        %span.param_description= param_data['description']

              -if method_data['returns']
                %section.returns
                  %h3 Returns
                  %p
                    Type:
                    %a(href="#{method_data['returns']['type']}.html")= method_data['returns']['type']
                  %p.return_description= method_data['returns']['description']

              %section.source
                %h3 Source
                %a.toggle_source Toggle
                %pre
                  %code= method_data['source']
            %hr
